@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(95deg, #5e2de2, #4ae8c8);
}

label {
    font-weight: bold;
    margin-right: 5px;
}

span {
    font-size: 18px;
    font-weight: bold;
}